@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    --color-b: #B71C1C;
    --color-i: #FF6F00;
    --color-n: #1B5E20;
    --color-g: #01579B;
    --color-o: #4A148C;
}

body {
    border: 0;
    background-color: #FAFAFA;
    color: #333333;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100%;;
}

.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
    column-gap: 1em;
    grid-template-columns: auto auto auto auto;
    row-gap: 1em;
}

header {
    align-items: flex-start;
    margin: 0 5vw;
    justify-content: space-between;
}

header h1 {
    margin: 2rem 0 0 0;
}

header p {
    margin-top: 0;
}

div#menu {
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 2rem;
    justify-content: flex-end;
}

main {
    margin: 0 5vw;
}

div#ganhador {
    align-items: center;
    background-color: #FF8F00;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    margin: 1em 0;
    opacity: 0;
    padding: 1em 2em;
}

div#ganhador i {
    font-size: 2em;
    margin-right: 1em;
}

div#ganhador-mensagem {
    width: 100%;
}

div#ganhador-mensagem h3, div#ganhador-mensagem p {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #7E57C2;
}

a:active {
    color: #311B92;
}

button {
    font-size: 1em;
    outline: none;
}

.button-accent {
    background-color: #5E35B1;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 0.5em 1.5em;
    transition: all 0.5s ease-in-out;
}

.button-accent:hover {
    background-color: #7E57C2;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.button-accent:active {
    background-color: #311B92;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.button-accent:disabled {
    background-color: #9575CD;
    transition: all 0.5s ease-in-out;
}

.button-accent > i, .button-normal > i {
    margin-right: 0.5em;
}

.button-normal {
    background-color: #BDBDBD;
    border: none;
    border-radius: 5px;
    color: #424242;
    font-family: 'Poppins', sans-serif;
    padding: 0.5em 1.5em;
    transition: all 0.5s ease-in-out;
}

.button-normal:hover {
    background-color: #757575;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.button-normal:active {
    background-color: #424242;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.button-normal:disabled {
    background-color: #E0E0E0;
    color: #757575;
    transition: all 0.5s ease-in-out;
}

div#numeros-sorteados {
    align-items: center;
    height: 5em;
    justify-content: flex-start;
    overflow: hidden;
}

div#numeros-sorteados ::-webkit-scrollbar {
    width: 100px;
}

div.numero-sorteado {
    align-items: center;
    background-color: #fff;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    height: 3em;
    justify-content: center;
    margin: 0 0.5em;
    min-width: 3em;
    padding: 0.5em;
}

div.numero-sorteado p {
    margin: 0;
}

div.numero-sorteado p:first-child {
    border-radius: 10px;
    color: #fff;
    font-size: 0.8em;
    padding: 0 0.5em;
}

div.numero-sorteado .coluna-b {
    background-color: var(--color-b);
}

div.numero-sorteado .coluna-i {
    background-color: var(--color-i);
}

div.numero-sorteado .coluna-n {
    background-color: var(--color-n);
}

div.numero-sorteado .coluna-g {
    background-color: var(--color-g);
}

div.numero-sorteado .coluna-o {
    background-color: var(--color-o);
}

div.numero-sorteado p:last-child {
    font-weight: bold;
    font-size: 1.2em;
}

div#cartelas {
    min-height: 10vh;;
}

div#cabecalho-cartelas {
    align-items: center;
    justify-content: space-between;
}

div#cabecalho-cartelas div {
    gap: 0.5em;
}

div.cartela {
    align-items: center;
    background-color: #fff;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em;
}

div.cabecalho-cartela {
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1em 0;
    width: 100%;
}

div.cabecalho-cartela h3{
    margin: 0;
}

div.cabecalho-cartela .button-normal {
    background: none;
    padding: 0.5em 0.8em;
}

div.cabecalho-cartela .button-normal i {
    margin: 0;
}

div.cabecalho-cartela .button-normal:hover {
    background-color: #757575;
    color: #fff;
}

div.cabecalho-cartela .button-normal:active {
    background-color: #424242;
    color: #fff;
}

div.cartela table {
    text-align: center;
    width: 100%;
}

div.cartela thead {
    font-weight: bold;
}

div.cartela thead td {
    border-radius: 5px;
    color: #fff;
}

div.cartela thead td:nth-child(1) {
    background-color: var(--color-b);
}

div.cartela thead td:nth-child(2) {
    background-color: var(--color-i);
}

div.cartela thead td:nth-child(3) {
    background-color: var(--color-n);
}

div.cartela thead td:nth-child(4) {
    background-color: var(--color-g);
}

div.cartela thead td:nth-child(5) {
    background-color: var(--color-o);
}

div.cartela td {
    height: 2em;
    width: 2em;
}

div.cartela td.preenchido {
    background-color: #D1C4E9;
    border-radius: 5px;;
}

footer {
    align-items: center;
    bottom: 0;
    height: 3em;
    margin: 0 5vw;
    position: relative;
}

@media only screen and (min-width:769px) and (max-width: 992px) {
    .grid-container {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (min-width:481px) and (max-width:768px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
    
    div#cabecalho-cartelas {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 2em;
    }
}

@media only screen and (max-width:480px) {
    .grid-container {
        grid-template-columns: auto;
    }

    header {
        flex-direction: column;
    }

    div#menu {
        justify-content: flex-start;
        margin-top: 1rem;
    }

    div#cabecalho-cartelas {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 2em;
    }

    div#cabecalho-cartelas div {
        flex-direction: column;
    }
}

@media only screen and (max-width:240px) {
    body {
        word-break: break-all;
    }
}